{% extends 'base.html.twig' %}

{% block title %}Hello AProposController!{% endblock %}

{% block body %}
    <section style="background-image>
        <div class="container">
            <div>
                <div>
                    <blockquote>
                        <p>
                            {{ peintre.aPropos }}
                        </p>
                        <footer>
                            {{peintre.prenom}} {{peintre.nom}}
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div
    </section>
{% endblock %}
