<section class="articles-section">
    <div class="articles-container">
        <div class="articles-description">
            <h2>Dernières Actualités</h2>
            <p>Explorez nos articles récents.</p>
        </div>

        <div class="articles-content">
            {% for blogpost in blogposts %}
            <div class="blogpost">
                <div class="blogpost-details">
                    <a href="{{ path('actualites_detail', {'slug': blogpost.slug}) }}">
                        <h3>{{ blogpost.titre }}</h3>
                        <p>{{ blogpost.contenu|u.truncate(150, '...', false) }}</p>
                    </a>
                    <hr>
                    <p>
                        <time>Publié le {{ blogpost.createdAt|date('d/m/Y') }}</time>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
