<!-- ARTICLES -->
<section>
    <div>
        <div>
            <div>

                <h2>
                    Dernières Actualités
                </h2>

                <p>
                    These can be splite into mailer grid sizes ...
                </p>

            </div>
        </div>

        <div>
            <div>
                <div>
                    <a href="#">

                        <h3>
                            Titre de l'Actualité
                        </h3>

                        <p>
                            Notice how this card stays the same heignt as the sibling ...
                        </p>
                    </a>

                    <a href="#">

                        <hr>

                        <p>
                            <time>
                                Publié le .....
                            </time>
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>