<!-- ARTISTE -->
<section>
    <div>
        <div>
            <div>

                <h2>
                    Dernières Réalisations
                </h2>

                <p>
                    These spen the grid's entire width with several options.
                </p>

            </div>
        </div>

        <div>
            <div>
                <div>
                    <div>
                        <a href="#">
                            <img src="#">
                        </a>
                        <div>

                            <!-- Body -->
                            <a>

                                <h3>
                                    Titre de la peinture
                                </h3>

                                <p>
                                    This is the body text of the blog to give visiter ....
                                </p>

                            </a>

                            <!-- Meta -->
                            <a>
                                <hr>
                                <p>
                                    <time>Ajouté le ....</time>
                                </p>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>