<section class="welcome-section" style="background-image: url(img/place.jpg);">
    <div class="welcome-container">
        <div class="welcome-content">
            <h1> {{peintre.prenom}} {{peintre.nom}}</h1>
            <p>Artiste peintre innovant et curieux au coeur de Lyon</p>
            <a href="{{ path('portfolio') }}" class="welcome-button">Découvrir mon Portfolio <i></i></a>
        </div>
    </div>
</section>
