<!-- WELCOME -->
<section>
    <div>
        <div>
            <div>

                <h1>
                    Prenom et nom de l'Artiste
                </h1>

                <p>
                    Artiste peintre innovant et curieux au coeur de Lyon
                </p>

                <a href="{{ path('portfolio') }}">
                    Découvrir mon Portfolio
                        <i></i>
                </a>
            </div>
        </div>
    </div>
</section>

