<!-- FOOTER -->
<footer>
    <div>
        <div>
            <img src="#">

            <p>
                Artiste peintre
            </p>
        </div>

        <div>

            <h6>

            <ul>
                <li>
                    <a href="{{ path('realisations') }}">
                        Réalisation
                    </a>
                </li>
                 <li>
                    <a href="{{ path('actualites') }}">
                        Actualités
                    </a>
                </li>
                 <li>
                    <a href="{{ path('portfolio') }}">
                        Portfolio
                    </a>
                </li>
                 <li>
                    <a href="{{ path('a_propos') }}">
                        A propos
                    </a>
                </li>
                 <li>
                    <a href="#">
                        Me contacter
                    </a>
                </li>
            </ul>

        </div>

        <div>
            <h6>
                Informations
            </h6>

            <p>
                Artiste peintre innovant et curieux au coeur de Lyon
            </p>
            <p>
                Je realise des oeuvres uniques
            </p>
        </div>

        <div>

            <h6>
                Mention légale
            </h6>

            <ul>
                <li>
                    <a href="#">
                        RGPD
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
