<!-- NAVBAR -->
<nav class="navbar">
    <div class="container">

        <!-- brand -->
        <a href="#">
            <img src="#">
        </a>

        <!-- Toggler -->
        <button>
            <span></span>
        </button>

        <!-- Collapse -->
        <div>
            <button>
                <i></i>
            </button>

        <!-- Navigation -->
            <ul>
                <li>
                    <a href="#">Réalisation</a>
                </li>
                <li>
                    <a href="#">Actualités</a>
                </li>
                <li>
                    <a href="#">Portfolio</a>
                    <ul>
                        <li>
                            <a href="#">Catégorie 1</a>
                        </li>
                        <li>
                            <a href="#">Catégorie 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Réalisation</a>
                </li>
            </ul>
            <a href="#">Me contacter</a>
        </div>
    <div>
</nav>