{% extends 'base.html.twig' %}

{% block title %}Hello PortfolioController!{% endblock %}

{% block body %}
<!-- WELCOME -->
<section>
    <div class="container">
        <div>
            <div>
                <h1>
                    Portfolio
                </h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div>
            {% for categorie in categories %}
                {% set peinture = categorie.peintures|last  %}
                {% if peinture is not empty %}
                    <div>
                        <a href="{{ path('portfolio_categorie', { 'slug': categorie.slug }) }}">
                            <img src="{{ vich_uploader_asset(peinture, 'imageFile') }}"/>
                            <div>
                                <h4>
                                    {{ categorie.nom }}
                                </h4>
                                <small>
                                    {{ categorie.description }}
                                </small>
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
