{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}

<div class="example-wrapper">
    <h1>Bienvenue Admin! ✅</h1>
    <p>Bienvenue dans l'interface d'administration de votre site internet</p>
</div>
{% endblock %}
