{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}
    <section class="blog-section">
        <div class="container">
            <div class="blog-header">
                <h1>Nos articles récents</h1>
            </div>
            {% for blogpost in blogposts %}
                <div class="blog-post">
                    <a href="{{ path('actualites_detail', {'slug': blogpost.slug}) }}" class="post-link">
                        <h3>{{ blogpost.titre }}</h3>
                        <p class="post-excerpt">{{ blogpost.contenu|u.truncate(150, '...', false) }}</p>
                        <hr class="post-divider">
                        <p class="post-date">Publié le {{ blogpost.createdAt|date('d/m/y') }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
