{% extends 'base.html.twig' %}

{% block body %}
    <!-- HEADER -->
    <section class="header">
        <div class="header-container">
            <div class="header-title">
                <h1>{{ blogpost.titre }}</h1>
                <div class="header-info">
                    <div class="line"></div>
                    <div class="date">
                        <time>
                            Publié le {{ blogpost.createdAt|date('d/m/Y') }}
                        </time>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="content-container">
            <div class="article">
                <p>
                    {{ blogpost.contenu }}
                </p>
            </div>
        </div>
    </section>

    {% include "commentaire/form.html.twig" %}
    {% include "commentaire/commentaires.html.twig" %}
{% endblock %}
