<section class="comment-section">
    {% for com in commentaires %}
        <div class="comment-card">
            <div class="comment-content">
                <blockquote class="comment-text">
                    {{ com.contenu }}
                </blockquote>

                <footer class="comment-info">
                    <span>Par {{ com.auteur }} le {{ com.createdAt|date('d/m/Y') }}</span>
                </footer>
            </div>
        </div>
    {% endfor %}
</section>
