

{% block body %}

    <section>
        <div>
            <div>
                <div>
                    {% for message in app.flashes('success') %}
                        <div>
                            {{message}}
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
     <section>
        <div>
            <div>
                <div>
                    <button type="button" id="openCommentModal" class="btn-form">
                        Laisser un commentaire
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
        <div id="commentModal" class="modal">
            <div class="modal-content">
                <span id="closeCommentModal" class="close">&times;</span>
                <h5>Laisser un commentaire</h5>
                <div class="modal-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>


         <script>
        // Votre code JavaScript pour gérer la modal ici

        // Récupérez les éléments de la modal
        var openCommentButton = document.getElementById("openCommentModal");
        var commentModal = document.getElementById("commentModal");
        var closeCommentButton = document.getElementById("closeCommentModal");

        // Ouvrez la modal lorsque le bouton est cliqué
        openCommentButton.addEventListener("click", function() {
            commentModal.style.display = "block";
        });

        // Fermez la modal lorsque le bouton de fermeture est cliqué
        closeCommentButton.addEventListener("click", function() {
            commentModal.style.display = "none";
        });

        // Fermez la modal lorsque l'utilisateur clique en dehors de la modal
        window.addEventListener("click", function(event) {
            if (event.target == commentModal) {
                commentModal.style.display = "none";
            }
        });
    </script>

    


{% endblock %}